<div id="<%= dom_id prebivalisca %>">
  <p>
    <strong>Name:</strong>
    <%= prebivalisca.Name %>
  </p>
  <p>
    <strong>User:</strong>
    <%= prebivalisca.user.ime %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= prebivalisca.rating %>
  </p>

  <p>
    <strong>Kvadratura:</strong>
    <%= prebivalisca.kvadratura %>
  </p>

  <p>
    <strong>Cena:</strong>
    <%= prebivalisca.cena %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= prebivalisca.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= prebivalisca.image %>
  </p>


</div>
