<div class="d-flex mb-4">
  <img src="<%= prebivalisca.image %>" class="card-img-top" alt="Prebivalisce Image" style="height: 100%; max-width: 50%; object-fit: cover;">

  <div id="<%= dom_id prebivalisca %>" class="card ml-2" style="width: 50%;">
  <% if current_user.id == @prebivalisca.user.id %>
  <div class="d-flex justify-content-end p-2">
  <%= link_to prebivaliscas_path, class: "btn btn-link p-0 ml-2" do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
    <%= link_to edit_prebivalisca_path(@prebivalisca), class: "btn btn-link p-0" do %>
      <i class="fa-solid fa-file-pen"></i>
    <% end %>
    <%= button_to @prebivalisca, method: :delete, class: "btn btn-danger p-0 ml-2" do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
  </div>
<% end %>
    <div class="card-body d-flex flex-column justify-content-between" style="height: 100%;">
      <h1 class="card-title"><%= prebivalisca.Name %></h1>
      <p class="card-text">
        <strong>Kvadratura:</strong> <%= prebivalisca.kvadratura %> m²
        <strong>Cena:</strong> <%= prebivalisca.cena %> EUR
      </p>
      <h4 class="card-title">User: <%= prebivalisca.user.ime %></h4>
      <p class="card-text">
        <strong>Location:</strong> <%= prebivalisca.lokacija %>
        <strong>Created At:</strong> <%= prebivalisca.created_at %>
      </p>
      <p class="card-text">
        <strong>Description:</strong> <%= prebivalisca.description %>
      </p>

      <%= form_with(model: Najemi.create, url: najemis_path, method: :post) do |form| %>
        <%= form.hidden_field :prebivalisca_id, value: prebivalisca.id %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <div class="form-group">
          <%= form.label :dat_najema, "Start Date:" %>
          <%= form.date_field :dat_najema, class: "form-control", required: true %>
        </div>
        <div class="form-group">
          <%= form.label :dat_konec_najema, "End Date:" %>
          <%= form.date_field :dat_konec_najema, class: "form-control", required: true %>
        </div>
        <%= form.submit "Book Now", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>
