<h1>Prebivaliscas</h1>

<div id="prebivaliscas">
  <% @prebivaliscas.each do |prebivalisca| %>
    <%= render prebivalisca %>
    <p>
      <%= link_to "Show this prebivalisca", prebivalisca %>
      <% if current_user %>
      <!-- <%= link_to "Start conversation with #{prebivalisca.user.ime}", create_with_user_conversations_path(post_user_id: prebivalisca.user.id), method: :post %> -->
      <%= form_with(url: create_with_user_conversations_path, method: :post) do |form| %>
        <%= form.hidden_field :post_user_id, value: prebivalisca.user.id %>
        <%= form.submit "Start chatting with the najemodajalec!" %>
      <% end %>

      <%= form_with(url: add_To_favorites_favorites_path, method: :post) do |form| %>
        <%= form.hidden_field :prebivalisceID, value: prebivalisca.id %>
        <%= form.submit "Add to favorites!" %>
      <% end %>
      <% end %>
      </p>
  <% end %>
</div>
<% if current_user %>
<%= link_to "New prebivalisca", new_prebivalisca_path %>
<% end %>