<% if current_user %>
<div class="container">
<div class="row mb-4">
<div class="col-md-12">
  <%= form_with(url: prebivaliscas_path, method: :get, local: true) do %>
    <div class="form-group">
      <%= label_tag :order_by, "Order by:" %>
      <%= select_tag :order_by, options_for_select([['kvadratura', 'kvadratura'], ['lokacija', 'lokacija'], ['cena', 'cena']], params[:order_by]), class: 'form-control', prompt: 'Select attribute' %>
    </div>
    <%= hidden_field_tag :isornot, true %>
    <%= submit_tag 'Sort', class: 'btn btn-primary' %>
  <% end %>
</div>
</div>

  <div id="prebivaliscas" class="row">
    <% @prebivaliscas.each do |prebivalisca| %>
      <div class="col-md-4 mb-4">
        <div class="card border">
          <%=
            if prebivalisca.image != "Brez slik"
              image_tag prebivalisca.image, class: "card-img-top", alt: "Prebivalisca Image"
            else
              image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png", class: "card-img-top", alt: "No image uploaded"
            end

          %>
          <div class="card-body text-info border-primary">
            <h5 class="card-title font-weight-bold" style="font-size: x-large !important;"><%= prebivalisca.Name %></h5>
            <h5 class="card-title"><%= prebivalisca.user.ime %></h5>
            <p class="card-text"><%= prebivalisca.lokacija %></p>
            <p class="card-text"><%= prebivalisca.cena %> EUR</p>
            <!-- You can add more properties here as needed -->
            <p>
              <% if current_user %>
                <%= form_with(url: create_with_user_conversations_path, method: :post, class: "d-inline") do |form| %>
                  <%= form.hidden_field :post_user_id, value: prebivalisca.user.id %>
                  <%= button_tag type: 'submit', class: "btn btn-primary btn-icon mr-2" do %>
                    <i class="fas fa-comment-alt"></i>
                  <% end %>
                <% end %>
                <%= form_with(url: add_To_favorites_favorites_path, method: :post, class: "d-inline") do |form| %>
                  <%= form.hidden_field :prebivalisceID, value: prebivalisca.id %>
                  <%= button_tag type: 'submit', class: "btn  btn-primary btn-icon mr-2" do %>
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  <% end %>
                <% end %>
              <% end %>
              <%= link_to  "Show more",prebivalisca, class: "btn btn-primary mr-2"  %>

            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% if current_user %>
    <%= link_to "New prebivalisca", new_prebivalisca_path, class: "btn btn-primary" %>
  <% end %>
</div>
<% end %>