<h1>Prebivaliscas</h1>

<div id="prebivaliscas">
  <% @prebivaliscas.each do |prebivalisca| %>
    <%= render prebivalisca %>
    <p>
      <%= link_to "Show this prebivalisca", prebivalisca %>
      <!-- <%= link_to "Start conversation with #{prebivalisca.user.ime}", create_with_user_conversations_path(post_user_id: prebivalisca.user.id), method: :post %> -->
      <%= form_with(url: create_with_user_conversations_path, method: :post) do |form| %>
        <%= form.hidden_field :post_user_id, value: prebivalisca.user.id %>
        <%= form.submit "Start chatting with the najemodajalec!" %>
      <% end %>
      
      </p>
  <% end %>
</div>

<%= link_to "New prebivalisca", new_prebivalisca_path %>
