<p style="color: green"><%= notice %></p>
<%= button_to "Destroy this conversation", @conversation, method: :delete, class:"btn btn-danger", style:"float:right;" %>
<%= render @conversation %>
<% @messages.each do |message| %>
  <div>
    <strong>From:</strong> <%= message.user.ime %> <!-- Assuming user has a name attribute -->
  </div>
  <div>
    <strong>Message:</strong> <%= message.text %>
  </div>
  <% if current_user.id == message.user_id %>
  <div class="button-container" style="display:flex;">
  <%= button_to message, method: :delete, class:"btn btn-link" do %>
    <i class="fa-solid fa-trash fa-lg"></i>
  <% end %>
  <%= button_to edit_message_path(message), method: :get, class: "btn btn-link" do %>
    <i class="fa-solid fa-file-pen fa-lg"></i> <!-- Adjust the size using fa-lg -->
  <% end %> 
  </div>  
  <% end %>
  <hr>
<% end %>

<div>

  <%= form_with(url: send_a_message_messages_path, method: :post) do |form| %>
    <%= form.hidden_field :conn, value: @conversation.id %>
    <%= form.text_area :message_content, rows: 4, class:"form-control", placeholder: "Type your message here..." %>
    <%= form.submit "Send", class:"btn btn-primary", style:"width:25%; margin-top:5px;" %>
  <% end %>
    
  <%= link_to "Back to conversations", conversations_path %>

</div>
