<p style="color: green"><%= notice %></p>

<%= render @conversation %>
<% @messages.each do |message| %>
  <div>
    <strong>From:</strong> <%= message.user.ime %> <!-- Assuming user has a name attribute -->
  </div>
  <div>
    <strong>Message:</strong> <%= message.text %>
  </div>
  <div>
    <strong>Read:</strong> <%= message.read ? 'Yes' : 'No' %>
  </div>
  <hr>
<% end %>

<div>

  <%= form_with(url: send_a_message_messages_path, method: :post) do |form| %>
    <%= form.hidden_field :conn, value: @conversation.id %>
    <%= form.text_area :message_content, rows: 4, placeholder: "Type your message here..." %>
    <%= form.submit "Send" %>
  <% end %>
    
  <%= button_to "Destroy this conversation", @conversation, method: :delete %>
  <%= link_to "Back to conversations", conversations_path %>

</div>
