<p style="color: green"><%= notice %></p>

<%= render @najemi %>

<div>
  <%= link_to "Edit this najemi", edit_najemi_path(@najemi) %> |
  <%= link_to "Back to najemis", najemis_path %>

  <%= button_to "Destroy this najemi", @najemi, method: :delete %>
</div>
